html,
body {
    height: 100%;
    margin: 0;
}

div#content {
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#openButton {
    align-self: flex-start;
    padding: 9px 9px 3px 9px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 15px;
    transition: background-color .3s;
    cursor: pointer;
}

#openButton:hover {
    background-color: mistyrose;
}

#title {
    align-self: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 90px;
}

#subtitle {
    align-self: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: transform .50s ease;
}

#sidebar.open {
    transform: none !important;
}

#closeText {
    align-self: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

#closeButton {
    align-self: flex-end;
    padding: 9px 9px 3px 9px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 15px;
    cursor: pointer;
}

#closeButton:hover {
    background-color: lightcyan;
}

.svg-icon {
    width: 1em;
    height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: black;
}

.svg-icon circle {
    stroke: black;
    stroke-width: 1;
}